<?xml version="1.0"?>
<model>
  <name>car</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Car Training</name>
  </author>
  <description>
    Differential-drive training car with five ray distance sensors
    (front, front-left, front-right, left, right).
  </description>
</model>
